---
import { Email } from "../assets/icons";
---

<div class="flex justify-normal items-center relative">
  <div class="relative transform transition duration-500 btn-border">
    <div class="relative inline-block transform transition duration-500 ease-in-out check">
        <label id="copyEmail"  data-modal-target="default-modal" data-modal-toggle="default-modal" class="w-6 h-6 mr-2 inline-flex items-center justify-center text-gray-950 cursor-pointer border bg-gray-50 border-gray-950">
            <!--
category: Text
tags: [clipboard, clone, duplicate]
version: "1.0"
unicode: "ea7a"
-->
<svg
  class="text-gray-950"
  xmlns="http://www.w3.org/2000/svg"
  width="16"
  height="16"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
>
  <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
  <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
</svg>

        </label>
    </div>
  </div>
  <span class="">
    <Email class="w-[10rem] h-[2rem] text-gray-950 dark:text-gray-50" />
  </span>

  <!-- Toast -->
  <div 
    id="toast" 
    class="hidden absolute top-[-2.5rem] left-1/2 -translate-x-1/2 
           bg-green-500 text-white text-sm px-3 py-1 rounded shadow-lg
           animate-fadeInOut">
    📋 Email copiado
  </div>
</div>

<style>
@keyframes fadeInOut {
  0%, 100% { opacity: 0; transform: translate(-50%, -10px); }
  10%, 90% { opacity: 1; transform: translate(-50%, 0); }
}
.animate-fadeInOut.show {
  display: block;
  animation: fadeInOut 2s ease-in-out;
}
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const copyBtn = document.getElementById("copyEmail");
    if (!copyBtn) return;
    const toast = document.getElementById("toast");
    if (!toast) return;
    copyBtn.addEventListener("click", () => {
      navigator.clipboard.writeText("sjhesua"+"@gmail.com")
        .then(() => {
          toast.classList.add("show");
          setTimeout(() => {
            toast.classList.remove("show");
          }, 2000);
        })
        .catch(err => console.error("Error al copiar: ", err));
    });
  });
</script>
